# keep sorted with e.g. `sort` command
*.db
*.db-shm
*.db-wal
/.mcp.json
/.playwright-mcp/
/deploy
/node_modules
/src
/ui/icon/svg/line
/ui/icon/svg/solid
/ui/icon/untitled-icons.zip
/ui/static/static/bundle.*
validation_data.json
