# keep sorted with e.g. `sort` command
*.db
*.db-shm
*.db-wal
/.claude/scheduled_tasks.lock
/.mcp.json
/.playwright-mcp/
/buildinfo/embed-*.txt
/deploy
/node_modules
/src
/ui/icon/svg/line
/ui/icon/svg/solid
/ui/icon/untitled-icons.zip
validation_data.json
