@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap";
@import "tailwindcss";
@import "./ui/color.css";
@import "./ui/theme.css";
@import "./ui/button.css";
@import "./ui/card.css";
@import "./ui/contents.css";
@import "./ui/flex.css";
@import "./ui/grid.css";
@import "./ui/inset.css";
@import "./ui/link.css";
@import "./ui/list.css";
@import "./ui/progress.css";
@import "./ui/scroll-area.css";
@import "./ui/spinner.css";
@import "./ui/split.css";
@import "./ui/text.css";
@import "./ui/input.css";
@import "./ui/table.css";
@import "./ui/toolbar.css";
@import "./ui/note.css";
@import "./view/player.css";

@theme {
	--font-sans: "Atkinson Hyperlegible Next", ui-sans-serif, system-ui;
	/* TODO(april): font-serif and font-mono */
}

@layer base {
	body {
		min-height: 100vh;
		font-optical-sizing: auto;
		font-size: var(--body);
		font-style: normal;
		font-weight: 400;
		line-height: var(--body-lh);
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: none;
		text-size-adjust: none;
		-webkit-user-select: none;
		user-select: none;
	}

	svg[width="24"][height="24"] {
		stroke-width: 1.5;
	}

	body:has(.app), body:has(#full-player) {
		overflow: hidden;
	}
}
