@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap";
@import "./ui/preflight.css" layer(preflight);
@import "./ui/color.css" layer(base);
@import "./ui/ui.css" layer(components);
@import "./view/view.css" layer(components);

@layer base {
	:root {
		--font-sans: "Atkinson Hyperlegible Next", ui-sans-serif, system-ui;
		--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
		--text-xl: 1.25rem;
	}

	body {
		background-color: var(--color-gray-0);
		color: var(--color-gray-12);
		--scale: 1;
		--radius-1: calc(3px * var(--scale) * var(--radius-factor, 1));
		--radius-2: calc(4px * var(--scale) * var(--radius-factor, 1));
		--radius-3: calc(6px * var(--scale) * var(--radius-factor, 1));
		--radius-4: calc(8px * var(--scale) * var(--radius-factor, 1));
		--radius-5: calc(12px * var(--scale) * var(--radius-factor, 1));
		--radius-6: calc(16px * var(--scale) * var(--radius-factor, 1));
		--radius-full: 0px;
		min-height: 100vh;
		font-family: var(--font-sans);
		font-optical-sizing: auto;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: none;
		text-size-adjust: none;
		-webkit-user-select: none;
		user-select: none;
	}

	body:has(.v-app), body:has(#full-player) { overflow: hidden; }
}

@keyframes spin { to { transform: rotate(360deg); } }
