@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap";
@import "./ui/preflight.css" layer(preflight);
@import "./ui/theme.css" layer(theme);
@import "./ui/ui.css" layer(components);
@import "./view/view.css" layer(components);

@layer base {
	body {
		background-color: var(--color-gray-0);
		color: var(--color-gray-12);
		min-height: 100vh;
		font-family: var(--font-sans);
		font-optical-sizing: auto;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: none;
		text-size-adjust: none;
		-webkit-user-select: none;
		user-select: none;
	}

	body:has(.v-app), body:has(#full-player) { overflow: hidden; }
}

@keyframes spin { to { transform: rotate(360deg); } }
