.v-sidebar { color: var(--text-3); }
@media (min-width: 768px) { .v-sidebar { display: block; } }

.v-sidebar-gap {
	width: var(--sidebar-width);
	position: relative;
	background-color: transparent;
	transition-duration: 200ms;
}

.v-sidebar-container {
	width: var(--sidebar-width);
	position: fixed;
	inset-block: 0;
	z-index: 10;
	height: 100svh;
	transition-duration: 200ms;
	display: none;
	flex-direction: column;
	inset-inline-start: 0;
	padding: 0.5rem;
}
@media (min-width: 768px) { .v-sidebar-container { display: flex; } }

.v-sidebar-content {
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;
	gap: 0.5rem;
	overflow: auto;
}

.v-sidebar-heading {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 0.5rem 1rem;
	align-items: center;
}

.v-sidebar-group {
	position: relative;
	display: flex;
	width: 100%;
	min-width: 0;
	flex-direction: column;
	padding: 0.5rem;
}

.v-sidebar-group-label {
	color: var(--text-3);
	outline: none;
	display: flex;
	height: 2rem;
	flex-shrink: 0;
	align-items: center;
	border-radius: var(--radius-2);
	padding-inline: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	transition-duration: 200ms;
}
.v-sidebar-group-label:focus-visible { box-shadow: 0 0 0 2px var(--accent-border); }
.v-sidebar-group-label > svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}

.v-sidebar-menu {
	display: flex;
	width: 100%;
	min-width: 0;
	flex-direction: column;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.v-sidebar-menu-item { position: relative; }

.v-sidebar-menu-button {
	outline: none;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	overflow: hidden;
	border-radius: var(--radius-2);
	padding: 0.5rem;
	text-align: start;
	font-size: 0.875rem;
	line-height: 1.25rem;
	height: 2rem;
}
.v-sidebar-menu-button:focus-visible { box-shadow: 0 0 0 2px var(--accent-border); }
.v-sidebar-menu-button > span:last-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.v-sidebar-menu-button > svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}
.v-sidebar-menu-button[data-selected] {
	background-color: var(--bg-active);
	color: var(--accent-text);
}

.v-sidebar-menu-value { /* ok */ }

.v-sidebar-menu-badge {
	background: var(--warmred);
	padding: 0.25rem;
	border-radius: 9999px;
}

.v-sidebar-upload-progress {
	margin-top: auto;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.v-sidebar-upload-label {
	font-size: 0.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
