/* sidebar */
.v-sidebar {
	color: var(--color-gray-12);
}
@media (min-width: 768px) {
	.v-sidebar {
		display: block;
	}
}

/* sidebar-gap */
.v-sidebar-gap {
	width: var(--sidebar-width);
	position: relative;
	background-color: transparent;
	transition-duration: 200ms;
}

/* sidebar-container */
.v-sidebar-container {
	width: var(--sidebar-width);
	position: fixed;
	inset-block: 0;
	z-index: 10;
	height: 100svh;
	transition-duration: 200ms;
	display: none;
	inset-inline-start: 0;
	padding: 0.5rem;
}
@media (min-width: 768px) {
	.v-sidebar-container {
		display: flex;
	}
}

/* sidebar-inner */
.v-sidebar-inner {
	background-color: var(--color-gray-2);
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

/* sidebar-content */
.v-sidebar-content {
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: column;
	gap: 0.5rem;
	overflow: auto;
}

/* sidebar-group */
.v-sidebar-group {
	position: relative;
	display: flex;
	width: 100%;
	min-width: 0;
	flex-direction: column;
	padding: 0.5rem;
}

/* sidebar-group-label */
.v-sidebar-group-label {
	color: color-mix(in oklab, var(--color-gray-11) 70%, transparent);
	outline: none;
	display: flex;
	height: 2rem;
	flex-shrink: 0;
	align-items: center;
	border-radius: var(--radius-2);
	padding-inline: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	transition-duration: 200ms;
}
.v-sidebar-group-label:focus-visible {
	box-shadow: 0 0 0 2px var(--color-accent-6);
}
.v-sidebar-group-label > svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}

/* sidebar-group-content */
.v-sidebar-group-content {
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

/* sidebar-menu */
.v-sidebar-menu {
	display: flex;
	width: 100%;
	min-width: 0;
	flex-direction: column;
}

/* sidebar-menu-item */
.v-sidebar-menu-item {
	position: relative;
}

/* sidebar-menu-button */
.v-sidebar-menu-button {
	outline: none;
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.5rem;
	overflow: hidden;
	border-radius: var(--radius-2);
	padding: 0.5rem;
	text-align: start;
	font-size: 0.875rem;
	line-height: 1.25rem;
	height: 2rem;
}
.v-sidebar-menu-button:focus-visible {
	box-shadow: 0 0 0 2px var(--color-accent-6);
}
.v-sidebar-menu-button:disabled,
.v-sidebar-menu-button[aria-disabled="true"] {
	pointer-events: none;
	opacity: 0.5;
}
.v-sidebar-menu-button > span:last-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.v-sidebar-menu-button > svg {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}
.v-sidebar-menu-button[data-selected] {
	background-color: var(--color-gray-5);
	color: var(--color-accent-10);
}
