.u-code {
	font-family: var(--font-mono);
	border-radius: calc((0.5px + 0.2em) * var(--radius-factor, 1));
	padding: 1em;
	overflow-x: auto;
	font-weight: 400;
	background-color: var(--color-gray-3);
	box-shadow: inset 0 0 0 1px var(--color-gray-a8);
	color: var(--color-gray-11);
	user-select: text;

	/* size=3 (default) */
	font-size: calc(14px * var(--scale));
	line-height: calc(22px * var(--scale));
	letter-spacing: -0.005em;

	/* wrap=wrap (default) */
	text-wrap: wrap;
}

.u-code[data-wrap=nowrap]  { text-wrap: nowrap; }

/* size scale (slightly smaller than text sizes for mono) */
.u-code[data-size="1"] {
	font-size: calc(11px * var(--scale));
	line-height: calc(16px * var(--scale));
	letter-spacing: -0.005em;
}

.u-code[data-size="2"] {
	font-size: calc(13px * var(--scale));
	line-height: calc(20px * var(--scale));
	letter-spacing: -0.005em;
}

.u-code[data-size="3"] {
	font-size: calc(14px * var(--scale));
	line-height: calc(22px * var(--scale));
	letter-spacing: -0.005em;
}

.u-code[data-size="4"] {
	font-size: calc(16px * var(--scale));
	line-height: calc(24px * var(--scale));
	letter-spacing: -0.0075em;
}
