.u-image-frame {
	border-radius: calc(0.125rem * var(--radius-factor, 1));
	overflow: hidden;
}

.u-hover-overlay { position: relative; }

.u-hover-overlay:hover::after {
	content: "";
	position: absolute;
	inset: 0;
	backdrop-filter: contrast(0.85) brightness(1.3);
	pointer-events: none;
}
