.u-image-frame {
	border-radius: 0.1875rem;
	overflow: hidden;
}

.u-hover-overlay { position: relative; }

.u-hover-overlay:hover::after {
	content: "";
	position: absolute;
	inset: 0;
	backdrop-filter: contrast(0.85) brightness(1.3);
	pointer-events: none;
}
