.u-label {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: max(0.25em, 0.5rem);
}
.u-label > .u-icon {
	flex-shrink: 0;
	translate: 0 calc((1em - 1cap) / 2);
}

/* size scale (mirrors u-text) */
.u-label[data-size="1"] {
	font-size: calc(12px * var(--scale));
	line-height: calc(16px * var(--scale));
	letter-spacing: 0.0025em;
}
.u-label[data-size="2"] {
	font-size: calc(14px * var(--scale));
	line-height: calc(20px * var(--scale));
	letter-spacing: 0em;
}
.u-label[data-size="3"] {
	font-size: calc(16px * var(--scale));
	line-height: calc(24px * var(--scale));
	letter-spacing: 0em;
}
.u-label[data-size="4"] {
	font-size: calc(18px * var(--scale));
	line-height: calc(26px * var(--scale));
	letter-spacing: -0.0025em;
}
.u-label[data-size="5"] {
	font-size: calc(20px * var(--scale));
	line-height: calc(28px * var(--scale));
	letter-spacing: -0.005em;
}
.u-label[data-size="6"] {
	font-size: calc(24px * var(--scale));
	line-height: calc(30px * var(--scale));
	letter-spacing: -0.005em;
}
.u-label[data-size="7"] {
	font-size: calc(28px * var(--scale));
	line-height: calc(36px * var(--scale));
	letter-spacing: -0.0075em;
}
.u-label[data-size="8"] {
	font-size: calc(35px * var(--scale));
	line-height: calc(40px * var(--scale));
	letter-spacing: -0.01em;
}
.u-label[data-size="9"] {
	font-size: calc(60px * var(--scale));
	line-height: calc(60px * var(--scale));
	letter-spacing: -0.025em;
}
