.u-label {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: max(0.25em, 0.5rem);
}
.u-label > .u-icon {
	flex-shrink: 0;
	translate: 0 calc((1em - 1cap) / 2);
}

/* size scale (mirrors u-text) */
.u-label[data-size="1"] {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.0025em;
}
.u-label[data-size="2"] {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0em;
}
.u-label[data-size="3"] {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0em;
}
.u-label[data-size="4"] {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.0025em;
}
.u-label[data-size="5"] {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.005em;
}
.u-label[data-size="6"] {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.005em;
}
.u-label[data-size="7"] {
	font-size: 28px;
	line-height: 36px;
	letter-spacing: -0.0075em;
}
.u-label[data-size="8"] {
	font-size: 35px;
	line-height: 40px;
	letter-spacing: -0.01em;
}
.u-label[data-size="9"] {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -0.025em;
}
