.u-link {
	color: var(--color-accent-a11);
	cursor: pointer;
	text-decoration: none;
}
.u-link:focus-visible {
	outline: 2px solid var(--color-accent-8);
	outline-offset: 2px;
	border-radius: calc(0.07em * 1);
}

/* underline auto (default) — underline on hover */
.u-link:where(:not(.u-link\+underline-always, .u-link\+underline-hover)) {
	text-decoration: none;
}

/* underline always */
.u-link\+underline-always {
	text-decoration: underline;
	text-decoration-color: var(--color-accent-a5);
	text-decoration-thickness: min(2px, max(1px, 0.05em));
	text-underline-offset: calc(0.025em + 2px);
}

/* underline hover — underline only on hover */
.u-link\+underline-hover {
	text-decoration: none;
}

@media (hover: hover) {
	.u-link:where(:not(.u-link\+underline-always, .u-link\+underline-hover)):hover {
		text-decoration: underline;
		text-decoration-color: var(--color-accent-a5);
		text-decoration-thickness: min(2px, max(1px, 0.05em));
		text-underline-offset: calc(0.025em + 2px);
	}
	.u-link\+underline-hover:hover {
		text-decoration: underline;
		text-decoration-thickness: min(2px, max(1px, 0.05em));
		text-underline-offset: calc(0.025em + 2px);
	}
}
