.u-settings-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 48px;
	padding-bottom: 128px;
}

.u-settings-page > * {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	width: 100%;
	gap: 3rem;
}

.u-settings-content {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 0 16px;
}

.u-settings-group {
	border-radius: var(--radius-4);
	border: 0.5px solid var(--border-strong);
	background: var(--bg-surface);
	overflow: hidden;
}

.u-settings-group-head {
	position: relative;
	display: flex;
	min-height: 60px;
	padding: 16px;
	gap: 16px;
	justify-content: space-between;
	align-items: center;
}

.u-settings-group-head:has(+ .u-settings-item),
.u-settings-group-head:has(+ .u-contents > .u-settings-item) { border-bottom: 0.5px solid var(--border-strong); }

.u-settings-item {
	position: relative;
	display: flex;
	min-height: 60px;
	padding: 16px;
	gap: 16px;
	justify-content: space-between;
	align-items: center;
}

.u-settings-item:not(:last-child):not(.u-sortable-drag)::after {
	content: "";
	border-bottom: 0.5px solid var(--border-strong);
	position: absolute;
	left: 16px;
	right: 16px;
	bottom: 0;
	z-index: 1;
}

.u-settings-item-hover { visibility: hidden; }

.u-settings-item:hover .u-settings-item-hover { visibility: visible; }

.u-settings-label-description { color: var(--text-3); }

.u-settings-label-icon {
	padding: 0.5rem;
	height: 2.25rem;
	width: 2.25rem;
	display: grid;
	place-items: center;
	background: var(--bg-active);
	border-radius: var(--radius-2);
	color: var(--text-3);
	font-size: 1.25rem;
}
