@layer components {

.a\$split {
	display: flex;
	flex: 1 1 0%;
	min-height: 0;
}

.a\$split-list {
	width: 22.5rem;
	height: 100cvh;
	flex: none;
	border-inline-end: 1px solid var(--color-gray-a6);
	place-items: center;
	display: grid;
}

}
