.u-table {
	caption-side: bottom;
	border: 1px solid var(--border-subtle);
	border-radius: 0.75rem;
	background-color: var(--panel);
	backdrop-filter: blur(64px);
	overflow: hidden;
	font-size: var(--table-font-size, 0.875rem);
	line-height: var(--table-line-height, 1.25rem);
	& .u-table-header .u-table-row { background-color: var(--bg-surface-a); }
}

[data-table-size="1"] {
	--table-font-size: 0.875rem;
	--table-line-height: 1.25rem;
	--table-head-height: 2rem;
	--table-head-padding: 0.5rem;
	--table-cell-padding: 0.5rem;
	--table-cell-min-height: 36px;
}

[data-table-size="2"] {
	--table-font-size: 0.875rem;
	--table-line-height: 1.25rem;
	--table-head-height: 2.5rem;
	--table-head-padding: 0.75rem;
	--table-cell-padding: 0.75rem;
	--table-cell-min-height: 44px;
}

[data-table-size="3"] {
	--table-font-size: 1rem;
	--table-line-height: 1.5rem;
	--table-head-height: 2.75rem;
	--table-head-padding: 0.75rem 1rem;
	--table-cell-padding: 0.75rem 1rem;
	--table-cell-min-height: 48px;
}

.u-table-row {
	box-shadow: inset 0 -1px var(--border-subtle);
	transition-property: color, background-color;
	transition-duration: 150ms;
}
.u-table-body .u-table-row:last-child { box-shadow: none; }
.u-table-row[data-state="selected"] { background-color: var(--bg-surface-a); }

.u-table-head {
	height: var(--table-head-height, 2.5rem);
	padding: var(--table-head-padding, 0.75rem);
	color: var(--text);
	background-clip: padding-box;
	text-align: start;
	vertical-align: middle;
	font-weight: bold;
	white-space: nowrap;
	width: 100px;
	&:has([role="checkbox"]) { padding-inline-end: 0; }
}

.u-table-cell {
	padding: var(--table-cell-padding, 0.75rem);
	min-height: var(--table-cell-min-height, 44px);
	background-clip: padding-box;
	vertical-align: middle;
	white-space: nowrap;
	&:has([role="checkbox"]) { padding-inline-end: 0; }
}

@media (hover: hover) {
	.u-table-row:hover td,
	.u-table-row:hover th { background-color: color-mix(in oklch, var(--bg-surface) 50%, transparent); }
}
