.u-toolbar-primary {
	display: flex;
	height: 4rem;
	flex-shrink: 0;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	gap: 1rem;
	border-bottom: 1px solid var(--border);
	padding-inline: 1rem;
}
