/* app-system */
.v-system {
	height: 100%;
	width: 100%;
	padding: 1rem;
}

/* app-system-field */
.v-system-field { padding-block: 1rem; }

/* app-system-input -- constrained-width input */
.v-system-input { max-width: 20rem; }

/* app-system-input-wide -- full-width input */
.v-system-input-wide { max-width: 100%; }
