.v-home-toolbar { padding-block: 1rem; }

.v-home-grid {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 1px;
}

.v-home-poster {
	aspect-ratio: 2 / 3;
	width: 187px;
}

.v-home-poster-link {
	display: block;
	width: 100%;
	height: 100%;
}
