.v-poster-grid {
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 1px;
}

.v-poster-grid-poster {
	aspect-ratio: 2 / 3;
	width: 187px;
}

.v-poster-grid-link {
	display: block;
	width: 100%;
	height: 100%;
}
