@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap";
@import "tailwindcss";

@theme {
	--font-sans: "Atkinson Hyperlegible Next", ui-sans-serif, system-ui;
	/* TODO(april): font-serif and font-mono */

	/* concrete palettes */
	--color-*: initial;

	--color-transparent: color(display-p3 0 0 0 / 0);
	--color-gray-0: oklch(1 0 0); /* pure white */

	--color-mauve-1: color(display-p3 0.991 0.988 0.992);
	--color-mauve-2: color(display-p3 0.98 0.976 0.984);
	--color-mauve-3: color(display-p3 0.946 0.938 0.952);
	--color-mauve-4: color(display-p3 0.915 0.906 0.925);
	--color-mauve-5: color(display-p3 0.886 0.876 0.901);
	--color-mauve-6: color(display-p3 0.856 0.846 0.875);
	--color-mauve-7: color(display-p3 0.814 0.804 0.84);
	--color-mauve-8: color(display-p3 0.735 0.728 0.777);
	--color-mauve-9: color(display-p3 0.555 0.549 0.596);
	--color-mauve-10: color(display-p3 0.514 0.508 0.552);
	--color-mauve-11: color(display-p3 0.395 0.388 0.424);
	--color-mauve-12: color(display-p3 0.128 0.122 0.147);


	--color-crimson-1: color(display-p3 0.998 0.989 0.992);
	--color-crimson-2: color(display-p3 0.991 0.969 0.976);
	--color-crimson-3: color(display-p3 0.987 0.917 0.941);
	--color-crimson-4: color(display-p3 0.975 0.866 0.904);
	--color-crimson-5: color(display-p3 0.953 0.813 0.864);
	--color-crimson-6: color(display-p3 0.921 0.755 0.817);
	--color-crimson-7: color(display-p3 0.88 0.683 0.761);
	--color-crimson-8: color(display-p3 0.834 0.592 0.694);
	--color-crimson-9: color(display-p3 0.843 0.298 0.507);
	--color-crimson-10: color(display-p3 0.807 0.266 0.468);
	--color-crimson-11: color(display-p3 0.731 0.195 0.388);
	--color-crimson-12: color(display-p3 0.352 0.111 0.221);

	--color-black-a1: rgba(0, 0, 0, 0.05);
	--color-black-a2: rgba(0, 0, 0, 0.1);
	--color-black-a3: rgba(0, 0, 0, 0.15);
	--color-black-a4: rgba(0, 0, 0, 0.2);
	--color-black-a5: rgba(0, 0, 0, 0.3);
	--color-black-a6: rgba(0, 0, 0, 0.4);
	--color-black-a7: rgba(0, 0, 0, 0.5);
	--color-black-a8: rgba(0, 0, 0, 0.6);
	--color-black-a9: rgba(0, 0, 0, 0.7);
	--color-black-a10: rgba(0, 0, 0, 0.8);
	--color-black-a11: rgba(0, 0, 0, 0.9);
	--color-black-a12: rgba(0, 0, 0, 0.95);
	--color-black: rgba(0, 0, 0, 1);

	--color-white-a1: rgba(255, 255, 255, 0.05);
	--color-white-a2: rgba(255, 255, 255, 0.1);
	--color-white-a3: rgba(255, 255, 255, 0.15);
	--color-white-a4: rgba(255, 255, 255, 0.2);
	--color-white-a5: rgba(255, 255, 255, 0.3);
	--color-white-a6: rgba(255, 255, 255, 0.4);
	--color-white-a7: rgba(255, 255, 255, 0.5);
	--color-white-a8: rgba(255, 255, 255, 0.6);
	--color-white-a9: rgba(255, 255, 255, 0.7);
	--color-white-a10: rgba(255, 255, 255, 0.8);
	--color-white-a11: rgba(255, 255, 255, 0.9);
	--color-white-a12: rgba(255, 255, 255, 0.95);
	--color-white: rgba(255, 255, 255, 1);

	--animate-spinner-leaf: spinner-leaf-fade 800ms linear infinite;
	@keyframes spinner-leaf-fade {
		0% {
			opacity: 1
		}

		to {
			opacity: .25
		}
	}



	--animate-spinner: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer theme {
	.dark {
		--color-gray-0: oklch(0 0 0); /* pure black */

		--color-mauve-1: color(display-p3 0.07 0.067 0.074);
		--color-mauve-2: color(display-p3 0.101 0.098 0.105);
		--color-mauve-3: color(display-p3 0.138 0.134 0.144);
		--color-mauve-4: color(display-p3 0.167 0.161 0.175);
		--color-mauve-5: color(display-p3 0.196 0.189 0.206);
		--color-mauve-6: color(display-p3 0.232 0.225 0.245);
		--color-mauve-7: color(display-p3 0.286 0.277 0.302);
		--color-mauve-8: color(display-p3 0.383 0.373 0.408);
		--color-mauve-9: color(display-p3 0.434 0.428 0.467);
		--color-mauve-10: color(display-p3 0.487 0.48 0.519);
		--color-mauve-11: color(display-p3 0.707 0.7 0.735);
		--color-mauve-12: color(display-p3 0.933 0.933 0.94);

		--color-crimson-1: color(display-p3 0.093 0.068 0.078);
		--color-crimson-2: color(display-p3 0.117 0.078 0.095);
		--color-crimson-3: color(display-p3 0.203 0.091 0.143);
		--color-crimson-4: color(display-p3 0.277 0.087 0.182);
		--color-crimson-5: color(display-p3 0.332 0.115 0.22);
		--color-crimson-6: color(display-p3 0.394 0.162 0.268);
		--color-crimson-7: color(display-p3 0.489 0.222 0.336);
		--color-crimson-8: color(display-p3 0.638 0.289 0.429);
		--color-crimson-9: color(display-p3 0.843 0.298 0.507);
		--color-crimson-10: color(display-p3 0.864 0.364 0.539);
		--color-crimson-11: color(display-p3 1 0.56 0.66);
		--color-crimson-12: color(display-p3 0.966 0.834 0.906);

	}
}

@theme inline {
	--color-gray-1: var(--color-mauve-1);
	--color-gray-2: var(--color-mauve-2);
	--color-gray-3: var(--color-mauve-3);
	--color-gray-4: var(--color-mauve-4);
	--color-gray-5: var(--color-mauve-5);
	--color-gray-6: var(--color-mauve-6);
	--color-gray-7: var(--color-mauve-7);
	--color-gray-8: var(--color-mauve-8);
	--color-gray-9: var(--color-mauve-9);
	--color-gray-10: var(--color-mauve-10);
	--color-gray-11: var(--color-mauve-11);
	--color-gray-12: var(--color-mauve-12);

	--color-accent-1: var(--color-crimson-1);
	--color-accent-2: var(--color-crimson-2);
	--color-accent-3: var(--color-crimson-3);
	--color-accent-4: var(--color-crimson-4);
	--color-accent-5: var(--color-crimson-5);
	--color-accent-6: var(--color-crimson-6);
	--color-accent-7: var(--color-crimson-7);
	--color-accent-8: var(--color-crimson-8);
	--color-accent-9: var(--color-crimson-9);
	--color-accent-10: var(--color-crimson-10);
	--color-accent-11: var(--color-crimson-11);
	--color-accent-12: var(--color-crimson-12);
}

button[aria-busy="true"],
a[aria-busy="true"] {
	pointer-events: none;
}
button[aria-busy="true"] > *,
a[aria-busy="true"] > * {
	visibility: hidden;
}
button[aria-busy="true"]::after,
a[aria-busy="true"]::after {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	border: 2px solid currentColor;
	border-right-color: transparent;
	border-radius: 9999px;
	animation: spin 600ms linear infinite;
}
@keyframes spin { to { transform: rotate(360deg) } }

@layer base {
	::selection {
		/*background-color: var(--focus-a5);*/
	}

	body {
		min-height: 100vh;
		/*background-color: #fff;*/
		/*color: var(--color-primary);*/
		/*cursor: default;*/
		font-optical-sizing: auto;
		font-size: var(--body);
		font-style: normal;
		font-weight: 400;
		line-height: var(--body-lh);
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: none;
		text-size-adjust: none;
		-webkit-user-select: none;
		user-select: none;
	}

	svg[width="24"][height="24"] {
		stroke-width: 1.5;
	}

	body:has(.app), body:has(#full-player) {
		overflow: hidden;
	}

	.plyr {
		height: 100%;
	}

	.plyr__video-wrapper {
		height: 100%;
	}

	.plyr video {
		object-fit: contain;
	}

	.plyr__controls-top {
		transition: opacity 0.3s ease, background 0.15s ease;
	}

	.plyr--hide-controls .plyr__controls-top {
		opacity: 0;
		pointer-events: none;
	}

	[data-player-harlow-value=true] .plyr__controls-top {
		opacity: 0;
		pointer-events: none;
	}

	[data-player-harlow-value=true] .plyr__controls {
		opacity: 0;
		pointer-events: none;
		transform: translateY(100%);
	}

	#full-player>[data-player-target=controls]>.overlay--top {
		background: linear-gradient(180deg,
			rgb(0% 0% 0% / 0.8) 0%,
			rgb(0% 0% 0% / 0.703125) 6.25%,
			rgb(0% 0% 0% / 0.6125) 12.5%,
			rgb(0% 0% 0% / 0.528125) 18.75%,
			rgb(0% 0% 0% / 0.45) 25%,
			rgb(0% 0% 0% / 0.37812500000000004) 31.25%,
			rgb(0% 0% 0% / 0.3125) 37.5%,
			rgb(0% 0% 0% / 0.25312500000000004) 43.75%,
			rgb(0% 0% 0% / 0.19999999999999996) 50%,
			rgb(0% 0% 0% / 0.15312499999999996) 56.25%,
			rgb(0% 0% 0% / 0.11250000000000004) 62.5%,
			rgb(0% 0% 0% / 0.078125) 68.75%,
			rgb(0% 0% 0% / 0.050000000000000044) 75%,
			rgb(0% 0% 0% / 0.028124999999999956) 81.25%,
			rgb(0% 0% 0% / 0.012499999999999956) 87.5%,
			rgb(0% 0% 0% / 0.0031250000000000444) 93.75%,
			rgb(0% 0% 0% / 0) 100%);
	}

	#full-player>[data-player-target=controls]>.overlay--bottom {
		background: linear-gradient(0deg,
			rgb(0% 0% 0% / 0.8) 0%,
			rgb(0% 0% 0% / 0.703125) 6.25%,
			rgb(0% 0% 0% / 0.6125) 12.5%,
			rgb(0% 0% 0% / 0.528125) 18.75%,
			rgb(0% 0% 0% / 0.45) 25%,
			rgb(0% 0% 0% / 0.37812500000000004) 31.25%,
			rgb(0% 0% 0% / 0.3125) 37.5%,
			rgb(0% 0% 0% / 0.25312500000000004) 43.75%,
			rgb(0% 0% 0% / 0.19999999999999996) 50%,
			rgb(0% 0% 0% / 0.15312499999999996) 56.25%,
			rgb(0% 0% 0% / 0.11250000000000004) 62.5%,
			rgb(0% 0% 0% / 0.078125) 68.75%,
			rgb(0% 0% 0% / 0.050000000000000044) 75%,
			rgb(0% 0% 0% / 0.028124999999999956) 81.25%,
			rgb(0% 0% 0% / 0.012499999999999956) 87.5%,
			rgb(0% 0% 0% / 0.0031250000000000444) 93.75%,
			rgb(0% 0% 0% / 0) 100%);
	}

	#full-player .overlay--top,
	#full-player .overlay--bottom {
		transition:
			opacity 0.4s ease-in-out,
			transform 0.4s ease-in-out;
	}

	#full-player[data-player-harlow-value=true] .overlay--top,
	#full-player[data-player-hide-controls-value=true] .overlay--top {
		opacity: 0;
		pointer-events: none;
		transform: translateY(-100%);
	}

	#full-player[data-player-harlow-value=true] .overlay--bottom,
	#full-player[data-player-hide-controls-value=true] .overlay--bottom {
		opacity: 0;
		pointer-events: none;
		transform: translateY(100%);
	}
}
